html{
    width:100%;
    height:100%;
   }

body {
    background-color: #f9f9f9;
    /*font-family: 'Mukta', sans-serif;*/
    font-family: 'Calibri',sans-serif;
}

nav {
  margin-bottom: 5px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h3 {
    margin-left: 5%;
}

#pageTitle{
  color: #828282;
  font-family: 'Roboto', sans-serif;
}

#search {
    width: 90%;
    margin: 10px auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding-top: 10px;
    padding-left: 10px;
}

#searchForm {
    width: 400px;
    text-align: left;
    margin: 0px auto;
}

/*#addProduct {
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding-top: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 1px solid #305A72;
    text-align:center;
}*/

#adminLogin {
    width: 90%;
    margin: 0px auto;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding-top: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 1px solid #305A72;
    text-align:center;
}

/*.adminButtons{*/
/*    display:inline;*/
/*}*/

.card {
    width: 90%;
    padding-left: 10px;
    display: block;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding-top: 10px;
    margin: 10px auto;
    text-align: left;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 1px solid #305A72;
}

/*input[type="submit"] {*/
/*  box-shadow: inset 0px 1px 0px 0px #305A72;*/
/*	background-color: #002a4e;*/
/*	border: 1px solid #305A72;*/
/*	display: inline-block;*/
/*	cursor: pointer;*/
/*	color: #FFFFFF;*/
/*	padding: 8px 18px;*/
/*	text-decoration: none;*/
/*	font: 12px Arial, Helvetica, sans-serif;*/
/*	margin: 0 auto;*/
/*}*/


/*#footer {*/
/*    text-align: center;*/
/*}*/


#history {
    width: 90%;
    margin: 0px auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding-top: 10px;
    text-align: center;
}


#addSuccess{
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding: 10px 0;
}

/*********************************/
/*    CSS for the shopping cart  */
/*********************************/


#displayCart h4 {
    
    font-size: 1em;
    color: blue;
    
}


#displayCart h2 {
    text-align: left;
    
}


#displayCart tr, td {
    white-space: nowrap;
    
}

#quantNum {
    white-space: normal;
   
}

.card{
  box-shadow: none;
  margin: 5px;
  border: 1px #e2e2e2 solid;
  border-radius: 2px;
  padding: 0px;
}

li, ol{
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
}


#displayCartTable tr {
   
    padding-left: 10px;
    background-color: white;
    border-radius: 10px;
    color: #002a4e;
    padding-top: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35);
    border: 1px solid grey;
}

#displayCartTable td {
    padding-right: 10px;
    
}

/*********************************/
/*    CSS for Main Page  */
/*********************************/

#prodSearch, #searchResults, #electricDeals{
    background-color: #fff;
    padding: 30px 20px 30px 20px;
    margin-bottom: 5px;
    border: 1px #e7e7e7 solid;
}

#electricDeals{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #002A4E;
}

#mpRow{
    height: 90px;
    margin: 30px;
}

#mpRowImgDiv{
    width: 150px;
    height: 90px;
    border: 1px #d2d2d2 solid;
}

#mpRowImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

#carousel-example-generic img{
     width: 200px;
     height: 200px;
     margin: 0 20%;
     object-fit: contain;
     overflow: hidden;
}
    
#carousel-example-generic{
     margin: 0 auto;   
     width: 100%;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
    text-align: center;
}    

.carousel-control-prev, .carousel-control-next{
    color: #007bff;
    text-decoration: none;
    background-color: #2196F3;
    -webkit-text-decoration-skip: objects;
}

